.vs/TirtaOptima/FileContentIndex/0ea67072-f2e8-4380-bb58-90725316b313.vsidx
*.vsidx
.vs/TirtaOptima/FileContentIndex/157a281d-dd47-42dd-a581-8e50efbbae63.vsidx
.vs/TirtaOptima/FileContentIndex/31a74dbf-82c5-4a42-bfcf-0b7d3b536853.vsidx
.vs/TirtaOptima/FileContentIndex/76bffb83-1708-4f70-93c8-c67e4b965de8.vsidx
.vs/TirtaOptima/FileContentIndex/bdbaef06-58ea-4870-96eb-56deb3bbac94.vsidx
.vs/TirtaOptima/FileContentIndex/f89734b5-6808-48b5-b668-ffffc36035ac.vsidx
.vs/TirtaOptima/v17/.suo
.vs/TirtaOptima/v17/DocumentLayout.json
TirtaOptima/bin/Debug/net8.0/TirtaOptima.dll
TirtaOptima/bin/Debug/net8.0/TirtaOptima.exe
TirtaOptima/bin/Debug/net8.0/TirtaOptima.pdb
TirtaOptima/obj/Debug/net8.0/apphost.exe
TirtaOptima/obj/Debug/net8.0/ref/TirtaOptima.dll
TirtaOptima/obj/Debug/net8.0/refint/TirtaOptima.dll
TirtaOptima/obj/Debug/net8.0/TirtaOptima.AssemblyInfo.cs
TirtaOptima/obj/Debug/net8.0/TirtaOptima.AssemblyInfoInputs.cache
TirtaOptima/obj/Debug/net8.0/TirtaOptima.dll
TirtaOptima/obj/Debug/net8.0/TirtaOptima.pdb
TirtaOptima/obj/Debug/net8.0/TirtaOptima.sourcelink.json
