@model CriteriaViewModel
<div class="row">
	<div class="col-12 mb-3">

		<form id="frmEdit" class="needs-validation" novalidate asp-controller="Criteria" asp-action="Update" method="POST" enctype="multipart/form-data">
			<div class="row">
				<div class="col-12 mb-3">
					@Html.AntiForgeryToken()
					@Html.HiddenFor(x => x.Id)
					<label for="Ket" class="form-label required-star">Nama Kriteria</label>
					@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
				</div>
			</div>
		</form>
	</div>
	<div class="hstack gap-2 justify-content-end">
		<button type="button" class="btn btn-danger" id="btn-tutup-event" data-bs-dismiss="modal">Tutup</button>
		<button type="button" class="btn btn-success" id="btn-save-event" onclick="Update()">Simpan</button>
	</div>
</div>
<script>
	function Update() {
		var formData = new FormData($("#frmEdit")[0]);
		var t = $("input[name='__RequestVerificationToken']").val();

		$.ajax({
			url: $("#frmEdit").attr('action'),
			type: "POST",
			data: formData,
			dataType: "json",
			contentType: false,
			processData: false,
			headers:
			{
				"RequestVerificationToken": t
			},
			beforeSend: function () {
				$("#loader").show()
			},
			complete: function () { $("#loader").hide(); },
			success: function (resp) {
				if (resp.status == 1) {
					Swal.fire({
						icon: 'success',
						title: '<b>Info</b>',
						text: resp.message,
						timer: 1000,
						showConfirmButton: false,
					}).then(() => {
						window.location.reload();
					})
				}
				else {
					Swal.fire({
						icon: 'warning',
						title: '<b style="color:orange">Peringatan</b>',
						text: resp.message,
					})
				}
			}
		})

	}
</script>