.nav-link:before {
    display: none !important;
}

#nav-link-header {
    color: #ededed; /* Change text color to white on hover */
}

    #nav-link-header:hover {
        color: white; /* Force text color to white on hover */
    }
#dashActive {
    color: #ededed; /* Change text color to white on hover */
}

#dashActive:hover {
        color: white; /* Force text color to white on hover */
    }
#nav-item-list {
    color: #ededed; /* Change text color to white on hover */
}

    #nav-item-list:hover {
        color: white; /* Force text color to white on hover */
    }

