.nav-link:before {
    display: none !important;
}

#piutangHeader {
    color: #ededed; /* Change text color to white on hover */
}

#piutangHeader:hover {
        color: white; /* Force text color to white on hover */
}
#dashActive {
    color: #ededed; /* Change text color to white on hover */
}

#dashActive:hover {
        color: white; /* Force text color to white on hover */
    }
#pencatatanPiutang {
    color: #ededed; /* Change text color to white on hover */
}

    #pencatatanPiutang:hover {
        color: white; /* Force text color to white on hover */
    }
#pengelolaanPiutang {
    color: #ededed; /* Change text color to white on hover */
}

    #pengelolaanPiutang:hover {
        color: white; /* Force text color to white on hover */
    }
#kadaluarsa {
    color: #ededed; /* Change text color to white on hover */
}

    #kadaluarsa:hover {
        color: white; /* Force text color to white on hover */
    }
#penghapusan {
    color: #ededed; /* Change text color to white on hover */
}

    #penghapusan:hover {
        color: white; /* Force text color to white on hover */
    }
#pengihanHeader {
    color: #ededed; /* Change text color to white on hover */
}

    #pengihanHeader:hover {
        color: white; /* Force text color to white on hover */
    }
#penerbitanSurat {
    color: #ededed; /* Change text color to white on hover */
}

    #penerbitanSurat:hover {
        color: white; /* Force text color to white on hover */
    }
#penyampaianSurat {
    color: #ededed; /* Change text color to white on hover */
}

    #penyampaianSurat:hover {
        color: white; /* Force text color to white on hover */
    }
#penempelanStiker {
    color: #ededed; /* Change text color to white on hover */
}

    #penempelanStiker:hover {
        color: white; /* Force text color to white on hover */
    }
#usulanAph {
    color: #ededed; /* Change text color to white on hover */
}

    #usulanAph:hover {
        color: white; /* Force text color to white on hover */
    }
#moniHeader {
    color: #ededed; /* Change text color to white on hover */
}

    #moniHeader:hover {
        color: white; /* Force text color to white on hover */
    }
#moniPiutang {
    color: #ededed; /* Change text color to white on hover */
}

    #moniPiutang:hover {
        color: white; /* Force text color to white on hover */
    }
#moniPenagihan {
    color: #ededed; /* Change text color to white on hover */
}

    #moniPenagihan:hover {
        color: white; /* Force text color to white on hover */
    }
#laporanPiutang {
    color: #ededed; /* Change text color to white on hover */
}

    #laporanPiutang:hover {
        color: white; /* Force text color to white on hover */
    }
#laporanPenagihan {
    color: #ededed; /* Change text color to white on hover */
}

    #laporanPenagihan:hover {
        color: white; /* Force text color to white on hover */
    }
#roleHeader {
    color: #ededed; /* Change text color to white on hover */
}

    #roleHeader:hover {
        color: white; /* Force text color to white on hover */
    }
#kelolaUser {
    color: #ededed; /* Change text color to white on hover */
}

    #kelolaUser:hover {
        color: white; /* Force text color to white on hover */
    }
#kelolaRole {
    color: #ededed; /* Change text color to white on hover */
}

    #kelolaRole:hover {
        color: white; /* Force text color to white on hover */
    }
#kelolaProses {
    color: #ededed; /* Change text color to white on hover */
}

    #kelolaProses:hover {
        color: white; /* Force text color to white on hover */
    }
#kelolaSurat {
    color: #ededed; /* Change text color to white on hover */
}

    #kelolaSurat:hover {
        color: white; /* Force text color to white on hover */
    }
#kelolaPenagihan {
    color: #ededed; /* Change text color to white on hover */
}

    #kelolaPenagihan:hover {
        color: white; /* Force text color to white on hover */
    }
#masterHeader {
    color: #ededed; /* Change text color to white on hover */
}

    #masterHeader:hover {
        color: white; /* Force text color to white on hover */
    }
#alasanPenagihan {
    color: #ededed; /* Change text color to white on hover */
}

    #alasanPenagihan:hover {
        color: white; /* Force text color to white on hover */
    }
#jenisPenagihan {
    color: #ededed; /* Change text color to white on hover */
}

    #jenisPenagihan:hover {
        color: white; /* Force text color to white on hover */
    }
#jenisPenetapan {
    color: #ededed; /* Change text color to white on hover */
}

    #jenisPenetapan:hover {
        color: white; /* Force text color to white on hover */
    }
#kodeKlarifikasi {
    color: #ededed; /* Change text color to white on hover */
}

    #kodeKlarifikasi:hover {
        color: white; /* Force text color to white on hover */
    }
#kodeBadan {
    color: #ededed; /* Change text color to white on hover */
}

    #kodeBadan:hover {
        color: white; /* Force text color to white on hover */
    }
#kodeSistem {
    color: #ededed; /* Change text color to white on hover */
}

    #kodeSistem:hover {
        color: white; /* Force text color to white on hover */
    }
#kodeTahun {
    color: #ededed; /* Change text color to white on hover */
}

    #kodeTahun:hover {
        color: white; /* Force text color to white on hover */
    }
#statusKadaluarsa {
    color: #ededed; /* Change text color to white on hover */
}

    #statusKadaluarsa:hover {
        color: white; /* Force text color to white on hover */
    }
#statusPenagihan {
    color: #ededed; /* Change text color to white on hover */
}

    #statusPenagihan:hover {
        color: white; /* Force text color to white on hover */
    }
#masterWilayahHeader {
    color: #ededed; /* Change text color to white on hover */
}

    #masterWilayahHeader:hover {
        color: white; /* Force text color to white on hover */
    }
#masterUptb {
    color: #ededed; /* Change text color to white on hover */
}

    #masterUptb:hover {
        color: white; /* Force text color to white on hover */
    }
#masterKecamatan {
    color: #ededed; /* Change text color to white on hover */
}

    #masterKecamatan:hover {
        color: white; /* Force text color to white on hover */
    }
#masterKelurahan {
    color: #ededed; /* Change text color to white on hover */
}

    #masterKelurahan:hover {
        color: white; /* Force text color to white on hover */
    }

