<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg">
<head>
    <meta charset="utf-8" />
    <title>Tirta Optima | @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Perumdam Tirta Umbulan Kota Pasuruan" name="description" />
    <meta content="Tirta Optima" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/Logo Bulat.png">
    @*VELZON CSS*@
    <script src="~/assets/js/layout.js"></script>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom.min.css" rel="stylesheet" />

    @*PLUGIN CSS*@
    <link href="~/assets/js/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/DataTables/datatables.min.css" id="app-style" rel="stylesheet" type="text/css" />
    @* <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/b-3.0.1/b-colvis-3.0.1/b-html5-3.0.1/b-print-3.0.1/datatables.min.css" rel="stylesheet"> *@
    <link href="~/assets/css/spinner.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/filepond/filepond.min.css" rel="stylesheet" />
    <link href="~/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css" rel="stylesheet" />
    <link href="~/assets/libs/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/assets/libs/flatpickr/themes/material_blue.css" rel="stylesheet" />
    <link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!-- Chart JS -->
    <script src="~/assets/libs/chart.js/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="~/assets/js/modernizr-2.8.3.js"></script>
</head>
<body style="background-color:#E6FCFF">
    <div id="loader" class="loader" style="display: block">
        <div class="logo_sby">
            <img src="~/assets/images/logo-circle.png" height="100" />
        </div>
    </div>
    <div id="loading2" class="lds-hourglass"></div>
    <div id="layout-wrapper">
        <partial name="_Header" />
        <partial name="_Navbar" />
        <partial name="_Modal" />

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <partial name="_Footer" />
        </div>
    </div>

    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>

    @*VELZON JS*@

    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/app.js"></script>

    @*PLUGIN JS*@
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/jquery.validate.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/libs/dropzone/dropzone-min.js"></script>
    <script src="~/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/js/spinner.js"></script>
    <script src="~/assets/datatables/datatables.js"></script>
    <script src="~/assets/datatables/datatables.min.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/b-3.0.1/b-colvis-3.0.1/b-html5-3.0.1/b-print-3.0.1/datatables.min.js"></script> *@
    <script src="~/assets/libs/filepond/filepond.min.js"></script>
    <script src="~/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script>
    <script src="~/assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script>
    <script src="~/assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="~/assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script> *@
    <script src="~/assets/js/pluginaddon.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
